[tool.poetry]
name = "pygradflow"
version = "0.2.6"
description = "PyGradFlow is a simple implementation of the sequential homotopy method to be used to solve general nonlinear programs."
authors = ["Christoph Hansknecht <christoph.hansknecht@tu-clausthal.de>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
scipy = "^1.10.1"
matplotlib = "^3.7.1"
termcolor = "^2.3.0"
numpy = "^1.20"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
